<div class="authy-verify">
  <h1><%= I18n.t('authy_verify_installation_title', {:scope => 'devise'}) %></h1>

  <% if @authy_qr_code %>
    <%= image_tag @authy_qr_code, :size => '200x200', :alt => I18n.t('authy_qr_code_alt', {:scope => 'devise'}) %>
    <p>
      If you're using the Authy app as your authenticator app, you should have received a
      notification in Authy adding the Lockbox app, and you should now have a code available.
    </p>
    <p>
      If you don't see your token in Authy or if you are using a different authenticator app,
      scan the QR code above to receive your token.
    </p>
  <% end %>

  <%= verify_authy_installation_form do %>
    <div class="form-group">
      <label for="authy-token-input">Authy token code</label>
      <%= text_field_tag :token, "", :autocomplete => "one-time-code", :inputmode => "numeric", :pattern => "[0-9]*", :id => "authy-token-input" %>
    </div>
    <div class="form-group">
      <label>
        <%= check_box_tag :remember_device %>
        <span><%= I18n.t('remember_device', {:scope => 'devise'}) %></span>
      </label>
    </div>
    <%= submit_tag I18n.t('enable_my_account', {:scope => 'devise'}), :class => 'btn btn-primary' %>
    <p class="sms-alternative">Alternatively, you can <%= authy_request_sms_link %>.</p>
  <% end %>
</div>
