<% lp = @lockbox_partner || current_user.lockbox_partner %>
<div class="secondary-nav">
  <div class='secondary-nav-tabs'>
    <% if current_user.admin? %>
      <%= render partial: 'layouts/secondary_tab', locals: {
        tab_name: 'All activity',
        tab_path: lockbox_partner_path(lp)
      } %>
      <%= render partial: 'layouts/secondary_tab', locals: {
        tab_name: 'File a support request',
        tab_path: new_lockbox_partner_support_request_path(lp)
      } %>
      <%= render partial: 'layouts/secondary_tab', locals: {
        tab_name: 'Add cash to lockbox',
        tab_path: new_lockbox_partner_add_cash_path(lp)
      } %>
      <%= render partial: 'layouts/secondary_tab', locals: {
        tab_name: 'Manage lockbox partner',
        tab_path: lockbox_partner_users_path(lp)
      } %>
    <% else %>
      <%= render partial: 'layouts/secondary_tab', locals: {
        tab_name: 'Action Needed',
        tab_path: root_path
      } %>
      <%= render partial: 'layouts/secondary_tab', locals: {
        tab_name: 'All Activity',
        tab_path: lockbox_partner_path(lp)
      } %>
    <% end %>
  </div>
</div>
